/* frontend/src/components/Posts/Posts.css */

/* Base wrapper */
.post-item {
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-md);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
}

/* ---- Size variations ---- */
.post-item--large {
  /* max-width: var(--max-content-width); */
  /* margin: 0 auto; */
  padding: var(--spacing-lg);
    display: flex;
  flex-direction: column;
  gap: var(--spacing-xl); /* or var(--spacing-xs) for small if you want */
}

.post-item--medium {
      display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: var(--spacing-lg); /* match event medium */
  background-color: var(--color-background);
box-shadow: 
    0px -30px 16px -30px rgba(0,0,0,0.05),/* top */
    0px  30px 16px -30px rgba(0,0,0,0.05); /* bottom */
  border-radius: var(--border-radius-sm);
  margin: 0 auto;
}



/* ---- Carousel ---- */
.post-item__carousel {
  margin-top: var(--spacing-lg);
}

/* ---- Read More ---- */
.post-item__read-more {
  margin-top: var(--spacing-md);
}

/* ---- Safe HTML content ---- */
.safe-html p {
  margin-bottom: calc(var(--spacing-lg) + var(--spacing-md));
}
.safe-html::after {
  content: "";
  display: block;
  clear: both;
}

